@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}


.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
    padding: 2.625rem 1.3125rem;
}
    h1{
     margin-left: 5rem;
     font-size: xxx-large;
     padding: 2rem;
}
    blockquote{
        border-left: 4px solid var(--background_pop);
        margin: 1em 0;
        background-color: beige;
    }
    a{
        text-decoration: none;
    }
    .back{
        font-size: xx-large;
        color:black;
    }
    #creepster{
        font-family: 'Creepster', cursive;
        color:darkred;
    }