@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

:root{
    --primary-color:#EF4444
   
    --dark-grey: #3f3d56/**grey**/;
    --off-white:  #F3F4F6 ;
    }
hr{
    margin:2rem 0rem;
}
.container{
   padding:0rem 1rem;
}
.container-center{
    margin: auto;
    max-width: 600px;
}
/**links**/
.link{
    text-decoration: 0;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem;
    margin-right:  1rem; 
    margin-left: 0rem;

}
.link-secondary{
    color:var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color) ;
    display: block;
    max-width: 140px;
    margin:1rem;
    margin-right: 1rem;
    margin-left: 0rem;
}
/**@lists**/
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
/**navigation**/
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.nav-brand{
    font-weight: bold;
}
.navigation .nav-pills{
    text-align: right ;
  }
.navigation .nav-pills .link{
    color: white;
}
.navigation .link-active{
    font-weight: bold;
}
/**header**/
.hero{
    padding: 2rem;
    padding-top: 5rem;
}
.hero .hero-img{
    margin:auto;
    max-width: 350px;
    display: block;
}
.hero .hero-heading{
    text-align: center;
    padding-top: 2rem;
    color: var(--dark-grey);
 
}
/**section**/
.section{
    padding:2rem;
}
.section h1 {
    text-align: center;
}
 .ow{
    background-color: var(--off-white);
}
/**footer**/
.footer{
    background-color: var(--primary-color);
    padding: 4rem 1rem;
    color: white;
    text-align: center;
    border-top-right-radius: 1rem;
}
.footer .footer-header{
    font-weight: bold;
    font-size: larger;
}
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start: 0px;

}
/**projects**/
.showcase-list{
    padding: 2rem;
}




